<!-- <div class="container-fluid"> -->
<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
    <a class="navbar-brand"><span>
            <!-- <i class="fa fa-cloud"></i> -->
            <img src="assets/images/brand2.webp" height="50" width="50">
        </span></a>
    <ul class="navbar-nav nav-pills mb-3 d-flex">
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/payment-details']">Payment Details</a>
        </li>
    </ul>
    <span class="icon"><i class="las la-bars"></i></span>
</nav>
<!-- </div> -->